
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* todo texto tendrá la fuente Montserrat, botones, entradas de texto, body, etc. */
body, button, input {
    font-family: 'Mukta';
}

body {
    background-color: rgb(255, 255, 255);
}

.container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.title h1 {
    font-size: 40px;
    color: rgb(0, 0, 0);
}

.title img {
    width: 50px;
    margin-left: 2px;
}

.crud_form{
    display: flex;
    margin: 10px 0;   
}

.form_input {
    flex: 1;
    padding: 5px;
    margin-right: 10px;
    font-size: 1rem;
}

.button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
}

.button:hover {
    transform: scale(1.1);
}

.button:active {
    background-color: #f66060;
    color: white;
}

.button--primary {
    background-color: rgb(75, 226, 175);
}

.button--secundary {
    background-color: #ffc107;
}

.button--terciary {
    background-color: #dc3545;
    color: #f0f0f0;
}

.registros {
    margin-top: 40px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    background-color: rgb(220, 220, 220);
    border-radius: 5px;

}

.crudtable{
    width: 100%;
    border-spacing: 3px;
    padding-top: 5px;
}

.table_header, .table_body td {
    border: 2px solid #000000;
    padding: 5px;
}

.table_header {
    border-radius: 5px;
    background-color: #1b1e1e;
    color: #f0f0f0;
}

.table_body td:nth-child(3){
    display: flex;
    justify-content: space-around;
}